body {
    background: rgb(0, 227, 137);
    background: linear-gradient(
      90deg,
      rgba(0, 227, 137, 1) 0%,
      rgba(0, 216, 228, 1) 50%,
      rgba(0, 90, 232, 1) 100%
    );
    margin-top: 0px;
    margin-left: 0px;
  }
  header {
    size: 36px;
    margin-left: 400px;
  }
  nav {
    margin-left: 100px;
  }
  