body 
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,48,121,1) 36%, rgba(0,114,255,1) 66%);
    margin-top: 0px;
    margin-left: 0px;
}
header 
{
    margin-left: 400px;
}
nav 
{
    margin-left: 100px;
}