body {
    background: rgb(0,227,167);
    background: linear-gradient(90deg, rgba(0,227,167,1) 0%, rgba(0,228,225,1) 26%, rgba(0,121,232,1) 100%);
    margin-top: 0px;
    margin-left: 0px;
  }
  header {
    size: 36px;
    margin-left: 400px;
  }
  nav {
    margin-left: 100px;
  }
  